---
	import { MoonIcon, Sun } from '@lucide/astro';

	interface Props {
		className?: string;
		id: string;
		sizeIcon: `w-${string} h-${string}` | `h-${string} w-${string}`;
	}

	const { className, id, sizeIcon } = Astro.props;
---
<button
	class={`aspect-square cursor-pointer group hover:scale-110 active:scale-90 transition-scale duration-300 ease-in-out rounded-full p-2 ${className || ""}`}
	aria-label="Cambiar tema"
	title="Cambiar tema"
	type="button"
	id={id}
>
	<div
		class={`relative ${sizeIcon} aspect-square overflow-hidden sm:h-6 sm:w-6`}
	>
		<MoonIcon
			class="theme-icon group-active:text-rose-500 rotate-0 text-black opacity-100 dark:-rotate-180 dark:text-white dark:opacity-0"
			id="icon-moon"
		/>

		<Sun
			class="theme-icon group-active:text-rose-500 rotate-0 text-black opacity-0 dark:rotate-180 dark:text-white dark:opacity-100"
			id="icon-sun"
		/>
	</div>

	<script is:inline define:vars={{id}}>
		const THEME = { Light: 'light', Dark: 'dark' };

		const toggleButton = document.getElementById(id);

		function applyTheme(theme) {
			const BODY = document.body;
			BODY.setAttribute('data-theme', theme);
		}

		function themeSaved() {
			const getTheme = localStorage.getItem('theme');
			const isLight = getTheme === THEME.Light;
			const theme = isLight ? THEME.Light : THEME.Dark;

			return theme;
		}

		function handleToggleTheme() {
			const isLight = themeSaved() === THEME.Light;
			const newTheme = isLight ? THEME.Dark : THEME.Light;

			localStorage.setItem('theme', newTheme);
			applyTheme(newTheme);
		}

		if (toggleButton) toggleButton.addEventListener('click', handleToggleTheme);
	</script>
</button>

<style>
	.theme-icon {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		transition:
			rotate 300ms ease-in-out,
			opacity 300ms ease-in-out;
	}
</style>
