---
	import { MoonIcon, Sun } from '@lucide/astro';

	interface Props {
		className?: string;
		sizeIcon: `w-${string} h-${string}` | `h-${string} w-${string}`;
	}

	const { className, sizeIcon } = Astro.props;

	const ID = crypto.randomUUID();
---
<button
	class={`aspect-square cursor-pointer group hover:scale-110 active:scale-90 transition-scale duration-300 ease-in-out rounded-full p-2 ${className || ""}`}
	aria-label="Cambiar tema"
	title="Cambiar tema"
	type="button"
	id={ID}
>
	<div
		class={`relative ${sizeIcon} aspect-square overflow-hidden sm:h-6 sm:w-6`}
	>
		<MoonIcon
			class="theme-icon group-active:text-rose-500 rotate-0 text-black opacity-100 dark:-rotate-180 dark:text-white dark:opacity-0"
			id="icon-moon"
		/>

		<Sun
			class="theme-icon group-active:text-rose-500 rotate-0 text-black opacity-0 dark:rotate-180 dark:text-white dark:opacity-100"
			id="icon-sun"
		/>
	</div>

	<script is:inline define:vars={{ID}}>
		const toggleButton = document.getElementById(ID);
		toggleButton.addEventListener('click', theme().handleToggleTheme);

		function theme() {
			const THEME = { LIGHT: 'light', DARK: 'dark' };

			function applyTheme(theme) {
				localStorage.setItem('theme', theme);
				document.body.setAttribute('data-theme', theme);
			}

			function nextTheme(current) {
				return current === THEME.LIGHT ? THEME.DARK : THEME.LIGHT;
			}

			function getCurrentTheme(saved) {
				return saved === THEME.DARK ? THEME.DARK : THEME.LIGHT;
			}

			function handleToggleTheme() {
				const current = getCurrentTheme(localStorage.getItem('theme'));
				const newTheme = nextTheme(current);

				applyTheme(newTheme);
			}

			return { handleToggleTheme };
		}
	</script>
</button>

<style is:global>
	.theme-icon {
		position: absolute;
		inset: 0;
		height: 100%;
		width: 100%;
		transition:
			rotate 300ms ease-in-out,
			opacity 300ms ease-in-out;
	}
</style>
