---
	import ThemeToggleButton from '../atoms/ThemeToggleButton.astro';

	type NavLinkData = { url: `#${string}`; text: string; ariaLabel: string };

	const navLinkList: NavLinkData[] = [
		{ url: '#home-section', text: 'Inicio', ariaLabel: 'Inicio' },
		{ url: '#projects-section', text: 'Proyectos', ariaLabel: 'Proyectos' },
		{ url: '#about-me-section', text: 'Sobre mí', ariaLabel: 'Sobre mí' },

		{
			url: '#certificates-section',
			text: 'Certificados',
			ariaLabel: 'Certificados',
		},
		{ url: '#contacts-section', text: 'Contactos', ariaLabel: 'Contactos' },
	];
---
<header
	class="fixed hidden sm:flex top-2 left-1/2 z-50 min-w-1/2 justify-evenly -translate-x-1/2 transform flex-row px-1 md:min-w-auto"
>
	<nav
		id="main-navbar"
		class="flex w-full justify-evenly flex-row gap-4 text-[clamp(0px,3vw,16px)] text-black dark:text-white"
	>
		<div
			id="nav-items"
			class="nav-base-styles grid flex-1 grid-cols-[repeat(5,minmax(min-content,1fr))] gap-2 rounded-3xl border px-4 text-center font-medium text-nowrap text-ellipsis"
		>
			{
        navLinkList.map((link) => (
          <a
            aria-label={link.ariaLabel}
            title={link.ariaLabel}
            href={link.url}
            class="grid h-full w-full min-w-1 place-items-center"
          >
            {link.text}
          </a>
        ))
      }
		</div>

		<ThemeToggleButton
			id="theme-toggle-button"
			className="nav-base-styles border"
			sizeIcon="h-[clamp(0px,3.5vw,1.5rem)] w-[clamp(0px,3.5vw,1.5rem)]"
		/>
	</nav>

	<script>
		import activeSectionObserver from '../../client/activeSectionObserver';

		const navItems = document.querySelector('#nav-items');

		activeSectionObserver(['#nav-items']);
	</script>
</header>

<style is:global>
	.nav-base-styles {
		transition: all;

		animation: navScrollLight linear both;
		animation-timeline: scroll(root block);
		animation-range: 0 100px;
	}

	body[data-theme='dark'] .nav-base-styles {
		transition: all;
		animation: navScrollDark linear both;
		animation-timeline: scroll(root block);
		animation-range: 0 100px;
	}

	@keyframes navScrollLight {
		from {
			border-color: transparent;
			background-color: transparent;
			backdrop-filter: blur(0px);
		}
		to {
			border-color: rgba(107, 114, 128, 0.4);
			background-color: rgba(255, 255, 255, 0.7);
			backdrop-filter: blur(8px);
		}
	}

	@keyframes navScrollDark {
		from {
			border-color: transparent;
			background-color: transparent;
			backdrop-filter: blur(0px);
		}
		to {
			border-color: rgba(244, 63, 94, 0.4);
			background-color: rgba(30, 2, 50, 0.7);
			backdrop-filter: blur(8px);
		}
	}
</style>
