---
	import Navbar from '../components/molecules/Navbar.astro';
	import Dock from '../components/molecules/Dock.astro';

	import '../styles/global.css';

	const stack = [
		Astro.generator,
		'Tailwind',
		'TypeScript',
		'Lucide',
		'Biome',
		'Vite',
		'pnpm',
		'Nodejs',
	].join(', ');

	const keywords = [
		'Enmanuel',
		'Bracho',
		'Ingeniería',
		'frontend',
		'React',
		'TypeScript',
		'Tailwind',
		'Astro',
		'desarrollador',
		'portfolio',
		'portafolio',
		'Venezuela',
		'UNEFA',
		'sistemas',
	].join(', ');

	const meta = {
		seo: {
			title: `Enmanuel Bracho | Desarrollador frontend especializado en React, Astro y Tailwind`,
			description: `Descubre el portafolio de Enmanuel Bracho, desarrollador frontend de Venezuela experto en React, Astro y Tailwind. Proyectos modernos, UI elegante y código escalable.`,
			robots: 'index, follow',
			keywords,
		},
		html: { language: 'es', charset: 'utf-8', viewport: 'width=device-width' },
		author: { name: 'Enmanuel Antoni Bracho Villanueva' },
		generator: { stack },
	};

	const base = import.meta.env.BASE_URL;
	const logo = `${base}/logo.webp`;
	const initTheme = `${base}/client/initTheme.js`;
---
<html lang={meta.html.language}>
	<head>
		<link rel="canonical">
		<meta name="description" content={meta.seo.description}>
		<meta name="keywords" content={meta.seo.keywords}>
		<meta name="robots" content={meta.seo.robots}>
		<meta charset={meta.html.charset}>
		<meta name="viewport" content={meta.html.viewport}>
		<meta http-equiv="Content-Language" content={meta.html.language}>
		<meta name="generator" content={meta.generator.stack}>
		<meta name="author" content={meta.author.name}>
		<link rel="icon" type="image/svg+xml" href={logo}>

		<meta
			property="og:title"
			content="Enmanuel Bracho | Desarrollador Frontend"
		>
		<meta
			property="og:description"
			content="Soy un desarrollador frontend experto en React, Astro y Tailwind, con buenos gustos en diseño y una pasión por la innovación. Descubre más sobre mi trabajo y proyectos aquí."
		>
		<meta
			property="og:image"
			content={`${base}/assets/screenshotOfThePage.webp`}
		>
		<meta property="og:url" content="https://enmanuel-ve.github.io">
		<meta property="og:type" content="website">

		<title>{meta.seo.title}</title>
	</head>

	<body data-theme>
		<script src={initTheme} is:inline></script>

		<div id="app">
			<Navbar/>

			<main>
				<slot/>
			</main>

			<Dock/>
		</div>

		<script>
			import activeSectionObserver from '../client/activeSectionObserver';
			import toggleTitle from '../client/toggleTitle';

			activeSectionObserver(['.dock', '#nav-items']);
			toggleTitle();
		</script>
	</body>
</html>
